<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{decorator/head::header}">
    <script>
        $(function () {
            $("#startDate").datepicker();
            $("#endDate").datepicker();
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:replace="~{decorator/menu::menu}">

</nav>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>交易明细</h1>
    </div>
    <div style="border-bottom: 1px solid #eee;margin-bottom: 5px;">
        <form class="form-inline" action="/deal/detail">
            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}">
            <div class="form-group">
                <label for="name">姓名</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${searchCondition.name}">
            </div>
            <div class="form-group">
                <label for="contract">合约</label>
                <input type="text" class="form-control" id="contract" name="contract" th:value="${searchCondition.contract}">
            </div>
            <div class="form-group">
                <label for="startDate">交易日期</label>
                <input type="text" class="form-control" id="startDate" name="startDate"
                       th:value="${#dates.format(searchCondition.startDate,'yyyy-MM-dd')}"> -
                <input type="text" class="form-control" id="endDate" name="endDate"
                       th:value="${#dates.format(searchCondition.endDate,'yyyy-MM-dd')}">
            </div>
            <div class="form-group">
                <label for="dealType">交易类型</label>
                <select id="dealType" name="dealType" class="form-control" th:value="${searchCondition.dealType}">
                    <option value="">全部</option>
                    <option value="买" th:selected="(${searchCondition.dealType == '买'})">买</option>
                    <option value="卖" th:selected="(${searchCondition.dealType == '卖'})">卖</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">查询</button>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>姓名</th>
                <th>合约</th>
                <th>交易时间</th>
                <th>成交序号</th>
                <th>交易类型</th>
                <th>投机/套保</th>
                <th>成交价</th>
                <th>成交手数</th>
                <th>成交额</th>
                <th>开/平</th>
                <th>手续费</th>
                <th>平仓盈亏</th>
                <th>实际成交日期</th>
            </tr>
            <tr th:each="deal : ${page.list}">
                <td th:text="${deal.name} "></td>
                <td th:text="${deal.contract} "></td>
                <td th:text="${#dates.format(deal.dealDate,'yyyy-MM-dd HH:mm:ss')} "></td>
                <td th:text="${deal.dealNumber} "></td>
                <td th:text="${deal.dealType} "></td>
                <td th:text="${deal.speculateHedging} "></td>
                <td th:text="${deal.dealPrice} "></td>
                <td th:text="${deal.boardLot} "></td>
                <td th:text="${deal.dealFee} "></td>
                <td th:text="${deal.openClose} "></td>
                <td th:text="${deal.commission} "></td>
                <td th:text="${deal.closeProfit} "></td>
                <td th:text="${#dates.format(deal.realDealDate,'yyyy-MM-dd')} "></td>
            </tr>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="javaScript:void(0);" aria-label="Previous" th:onclick="'javascript:jump('+${page.prePage}+');'">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="pageNum:${#numbers.sequence(1, page.pages)}"  th:classappend="${pageNum eq page.pageNum} ? active : ''">
                    <a href="javaScript:void(0);" th:onclick="'javaScript:jump('+${pageNum}+');'"
                       th:text="${pageNum}" th:if="${pageNum < 11}"></a>
                    <a href="javaScript:void(0);" th:text="..." th:if="${pageNum > 10 and pageNum == 11}"></a>
                </li>
                <li>
                    <a href="javaScript:void(0);" aria-label="Next" th:onclick="'javascript:jump('+${page.nextPage}+');'">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li><span th:text="'共 '+${page.pages}+' 页,当前第 '+ ${page.pageNum}+' 页'"></span></li>
            </ul>
            <script th:inline="javascript">
                function jump(page) {
                    $("#pageNum").val(page);
                    $("form")[0].submit();
                }
            </script>
        </nav>
    </div>
</div>

<footer th:replace="~{decorator/footer::footer}"></footer>
</body>
</html>