<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work.variety.trading.dao.PositionInfoMapper">

  <resultMap id="positionInfoMapper" type="work.variety.trading.entity.PositionInfo">
    <id column="id" property="id"></id>
    <result column="position_day" property="positionDay"/>
    <result column="contract" property="contract"/>
    <result column="deal_number" property="dealNumber"/>
    <result column="buy_board_lot" property="buyBoardLot"/>
    <result column="buy_price" property="buyPrice"/>
    <result column="sell_board_lot" property="sellBoardLot"/>
    <result column="sellPrice" property="sellPrice"/>
    <result column="yesterday_price" property="yesterdayPrice"/>
    <result column="today_price" property="todayPrice"/>
    <result column="profit" property="profit"/>
    <result column="speculate_hedging" property="speculateHedging"/>
    <result column="transaction_number" property="transactionNumber"/>
    <result column="real_deal_date" property="realDealDate"/>
    <result column="deal_margin" property="dealMargin"/>
    <result column="client_info_id" property="clientInfoId"/>
    <result column="product" property="product"/>
  </resultMap>

  <resultMap id="positionInfoDtoMapper" type="work.variety.trading.dto.PositionInfoDto" extends="positionInfoMapper">
    <result column="name" property="name"/>
  </resultMap>

  <resultMap id="positionStat" type="work.variety.trading.dto.PositionStatDto">
    <result column="position_day" property="positionDay"/>
    <result column="name" property="name"/>
    <result column="client_info_id" property="clientInfoId"/>
    <result column="buy_board_lot" property="buyBoardLot"/>
    <result column="sell_board_lot" property="sellBoardLot"/>
    <result column="profit" property="profit"/>
  </resultMap>

  <insert id="save" parameterType="work.variety.trading.entity.PositionInfo" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO position_info(product, position_day,contract,deal_number,buy_board_lot,buy_price,sell_board_lot,sell_price,yesterday_price,
    today_price,profit,speculate_hedging,transaction_number,client_info_id,deal_margin,real_deal_date)
    VALUES (#{product}, #{positionDay},#{contract},#{dealNumber},#{buyBoardLot},#{buyPrice},#{sellBoardLot},#{sellPrice},#{yesterdayPrice},
    #{todayPrice},#{profit},#{speculateHedging},#{transactionNumber},#{clientInfoId},#{dealMargin},#{realDealDate})
  </insert>

  <delete id="deleteByClientAndDate">
    DELETE FROM position_info WHERE client_info_id = #{clientId} and position_day = #{date}
  </delete>

  <select id="findOne" parameterType="work.variety.trading.entity.PositionInfo" resultMap="positionInfoMapper">
    SELECT * FROM position_info
    WHERE position_day = #{positionDay}
    AND contract = #{contract}
    AND buy_board_lot = #{buyBoardLot}
    AND buy_price = #{buyPrice}
    AND sell_board_lot = #{sellBoardLot}
    AND sell_price = #{sellPrice}
    AND client_info_id = #{clientInfoId}
    limit 1
  </select>

  <sql id="statSql">
    SELECT position_day,a.client_info_id, b.name,sum(a.buy_board_lot) AS buy_board_lot, sum(a.`sell_board_lot`) AS
    sell_board_lot, sum(a.`profit`) AS profit
    FROM position_info a LEFT JOIN client_info b ON a.client_info_id = b.id
    <where>
      <if test="name!=null and name != ''">
        and b.name like concat('%', #{name}, '%')
      </if>
      <if test="clientInfoId != null">
        and a.client_info_id = #{clientInfoId}
      </if>
      <if test="startDate != null">
        and a.position_day &gt;= #{startDate}
      </if>
      <if test="endDate != null">
        and a.position_day &lt; DATE_ADD(#{endDate},INTERVAL 1 DAY)
      </if>
    </where>
    GROUP BY a.`position_day`, a.client_info_id
  </sql>

  <select id="countStat" resultType="java.lang.Integer" parameterType="work.variety.trading.dto.SearchPositionDto">
    SELECT count(*) FROM (
    <include refid="statSql"/>
    ) c
  </select>

  <select id="stat" parameterType="work.variety.trading.dto.SearchPositionDto" resultMap="positionStat">
    SELECT * FROM (
    <include refid="statSql"/>
    ) c
    <if test="orderBy != null">
      ORDER BY ${orderBy} ${orderDesc}
    </if>
    <if test="isPage">
      LIMIT #{startPage}, #{pageSize}
    </if>
  </select>

  <sql id="searchSql">
    SELECT a.*,b.name FROM position_info a LEFT JOIN client_info b ON a.client_info_id = b.id
    <where>
      <if test="clientInfoId!=null and clientInfoId != ''">
        and a.client_info_id = #{clientInfoId}
      </if>
      <if test="name!=null and name != ''">
        and b.name like concat('%', #{name}, '%')
      </if>
      <if test="startDate != null">
        and a.position_day &gt;= #{startDate}
      </if>
      <if test="endDate != null">
        and a.position_day &lt; DATE_ADD(#{endDate},INTERVAL 1 DAY)
      </if>
      <if test="positionDay != null">
        and a.position_day = #{positionDay}
      </if>
    </where>
  </sql>

  <select id="count" resultType="java.lang.Integer" parameterType="work.variety.trading.dto.SearchPositionDto">
    SELECT count(*) FROM (
    <include refid="searchSql"/>
    ) c
  </select>

  <select id="search" resultMap="positionInfoDtoMapper" parameterType="work.variety.trading.dto.SearchPositionDto">
    <include refid="searchSql"/>
    <if test="orderBy != null">
      ORDER BY ${orderBy} ${orderDesc}
    </if>
    LIMIT #{startPage}, #{pageSize}
  </select>

</mapper>